.customButton {
  display: inline-block;
  background-color: #844a03;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.customButton:hover {
  background-color: #844a03b1;
}
