.header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 5px 30px 5px 100px;
  background-color: rgb(222, 157, 6);
  color: aliceblue;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.253);

}

.pending {
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 10px;
}
.profile {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile img {
  max-width: 100%;
  display: block;
  height: auto;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  gap: 20px;
  overflow: hidden;
}

.navbar h2 {
  padding-top: 5px;
  color: aliceblue;
}

.logo {
  position: absolute;
  z-index: 5;
  left: 20px;
  top: -15px;
}
